{% extends 'admin_home.html' %}
<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} App Delete {% endblock %}</title>
</head>
<body>
{% block content_body %}
    <div class="container text-center bg-light">
    <form method="post">
        {% csrf_token %}
    <input type="hidden" name="userid" value="{{ user.id }}">
    <h2 class="alert alert-warning">Delete App?</h2><br>
    <button class="btn btn-danger w-25" type="submit">yes</button>
    <a href="/adminhome{{ user.id }}/"><button type="button" class="btn btn-success w-25">No</button> </a>
    </form>
    </div>
{% endblock %}
</body>
</html>