{% extends 'loginbase.html' %}
<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
{% block content %}
<div class="container-sm text-sm-center">
    <div class="row vh-100" style="margin-top: 20%">
        <div class="col-sm-6"><a href="{% url 'admin_login' %}"><button class="btn btn-primary w-50">Admin Login</button></a></div>
        <div class="col-sm-6"><a href="{% url 'user_login' %}"><button class="btn btn-outline-warning w-50">User Login</button></a></div>
    </div>
</div>
{% endblock %}
</body>
</html>